html, body {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

body {
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

* {
    font-family: "Segoe UI", sans-serif;
    box-sizing: border-box;
}

.icon-btn {
    cursor: pointer;
}

.whatsapp {
    color: #038b06;
}

.whatsapp:hover {
    color: #39be39;
}


#welcome-container {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    text-align: center;
    z-index: 1;
    box-shadow: rgba(17, 12, 46, 0.3) 0px 0px 10px 0px;
}

#welcome-container:before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background: url("assets/bg_bggenerator_com.jpg");
    background-size: auto 100%;
    z-index: 0;
    opacity: 0.6;
}

#product-content-summary {
    position: relative;
    text-align: left;
    color: rgba(0, 0, 0, 0.4);
    z-index: 100;
    font-size: 14px;
}


#image-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
}

#image-container img {
    height: 100%;
    position: relative;
}

#owner-name {
    display: block;
    position: relative;
    padding-top: 20px;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    font-size: 22px;
    font-style: italic;
}

#course-name {
    display: block;
    position: relative;
    margin-top: 20px;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    font-size: 27px;
    line-height: 61px;
    font-family: Inter, "Segoe UI", "Roboto Light", serif;
}

#course-description {
    position: relative;
    padding: 0;
    text-align: center;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
}

#product-summary-and-contacts-container {
    display: flex;
    justify-content: space-between;
    padding: 0 24px
}

#trial-training-btn {
    text-decoration: underline;
    width: 116px;
    font-size: 20px;
    font-weight: 400;
    z-index: 100;
    color: rgba(0, 0, 0, 0.8);
}

#subscription-btn-container {
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
}

#subscription-btn {
    position: relative;
    /*display: inline-block;*/
    /*width: max-content;*/
    padding: 8px;
    border-radius: 5px;
    transform: translateX(-50%);
    z-index: 1;
    background: linear-gradient(0.6972222222222222turn, rgba(210, 86, 144, 1) 0%, rgba(224, 174, 197, 1) 100%);
    color: rgba(255, 255, 255, 0.87);
}

#cost-info-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 13px;
}

#rates-info {
    position: relative;
}

#one-month-rate {
    border: 1px solid gray;
    padding: 8px;
    border-radius: 10px;
    line-height: 42px;
    z-index: 100;
}

#other-rates {
    position: relative;
    z-index: 100;
    font-size: 14px;
    /*text-align: start;*/
}

.section-header {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    margin: 30px 0 20px 0;
}

.video-background {
    margin-top: 20px;
}

.video-background iframe {
    display: block;
    width: 90%;
    aspect-ratio: 16/9;
    margin: auto;
    border-radius: 10px;
}

.section-intro {
    position: relative;
    padding: 0.5rem 1rem;
    font-size: 16px;
    font-weight: 300;
    text-align: justify;
    white-space: pre-wrap;
}

.section-text {
    position: relative;
    margin-top: 20px;
    padding: 0.5rem 1rem;
    font-weight: 300;
    text-align: justify;
}

.section-text li {
    padding-left: 1em;
    text-indent: -1em;
    margin-bottom: 8px;
}

.section-text li:before {
    content: "•";
    padding-right: 11px;
    font-size: 10px;
}

.platform-about-item {
    font-weight: 600;
    text-align: center;
    padding: 0.5rem 1rem;
    margin-top: 20px;
}

.category-item {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.category-item img {
    width: 40vw;
    max-width: 350px;
}

.category-item span {
    text-align: justify;
    font-weight: 300;
}

.carousel-item img {
    height: 300px;
    object-fit: contain;
}

#subscription-target .decoration {
    position: absolute;
    top: 0;
    right: -50px;
    opacity: 0.7;
}

#subscription-target .decoration img {
    width: 100px;
    height: 100px;
}

#decoration2 {
    position: absolute;
    top: 200px;
    left: -50px;
    opacity: 0.2;
}

#decoration2 img {
    width: 200px;
    height: 200px;
}

#platform-about .decoration {
    position: absolute;
    top: -50px;
    left: -40px;
    opacity: 0.4;
}

#platform-about .decoration img {
    width: 100px;
    height: 100px;
}

#contacts {
    background: rgba(176, 225, 250, 0.4);
}


@media only screen and (min-width: 600px) {
    section {
        padding: 0 15%;
    }
    #image-container {
        height: 80%;
        padding: 0 10%;
        right: 0;
    }

    #welcome-container {
        text-align: end;
    }

     #owner-name {
         font-size: 25px;
     }

    #course-name {
        display: flex;
        font-size: 70px;
        text-align: start;
    }

    #course-description {
        /*display: flex;*/
        /*width: 70%;*/
        margin-top: 20px;
        font-size: 25px;
        text-align: start;
    }

    #course-description mark {
        border-radius: 5px;
    }
    #product-summary-and-contacts-container {
        display: flex;
        width: 70%;
        font-size: 20px;
    }

    #product-content-summary {
        font-size: 20px;
    }

    #cost-info-container {
        justify-content: center;
        align-items: start;
        flex-direction: column;
        gap: 25px;
        padding-left: 0;
    }

    #trial-training-btn {
        width: max-content;
        font-size: 25px;
    }

    #one-month-rate {
        font-size: 36px;
    }

    #subscription-btn-container {
        text-align: start;
        bottom: 50px;
    }

    #subscription-btn {
        font-size: 25px;
    }

    .section-header {
        font-size: 39px;
    }

    .section-text, .section-intro {
        font-size: 25px;
    }

    .platform-about-item {
        font-size: 25px;
    }

    .category-item span {
        font-size: 25px;
        line-height: 50px;
        margin-left: 25px;
    }

    #subscription-target {
        overflow-x: visible !important;
    }

    #subscription-target .decoration img {
        width: 200px;
        height: 200px;
    }

    #decoration2 img {
        width: 400px;
        height: 400px;
    }

    #platform-about .decoration img {
        width: 200px;
        height: 200px;
    }
}

mark {
    border-radius: 5px;
    background-color: white;
}

