<section id="rates-section">
    <div class="section-header">
        <div>Тренируйтесь регулярно</div>
        <div class="section-subheader">за 1100 рублей в месяц*</div>
    </div>
    <p class="mx-2">*при оплате подписки на год</p>

    <div class="section-intro">Если Вам понравилось, приобретайте подписку на платформу, чтобы тренироваться регулярно. Более 200 тренировок на любой вкус не дадут Вам заскучать
    </div>
    <div class="section-intro" style="background: rgb(255, 242, 156); font-size: 14px">Бесплатная отмена подписки в течении 3-х дней</div>
    <div id="cost-info-container">
        <ul>
            <li>1 месяц - <strong>1990</strong> рублей</li>
            <li>2 месяца - <strong>3190</strong> рублей <span class="discount">20% скидка</span></li>
            <li>4 месяца - <strong>5590</strong> рублей <span class="discount">25% скидка</span></li>
            <li>6 месяцев - <strong>7790</strong> рублей <span class="discount">35% скидка</span></li>
            <li>12 месяцев - <strong>13200</strong> рублей <span class="discount">45% скидка</span></li>
        </ul>
    </div>
    <div class="text-center mt-3">
        <a class="action-btn" href="https://regina-go.web.app/register">ПРИОБРЕСТИ ПОДПИСКУ</a>
    </div>
</section>

