<section id="subscription-target" class="position-relative overflow-x-hidden">
    <div class="section-header">Для кого эта подписка</div>
    <div class="decoration">
        <img src="img/decoration.png" alt="">
    </div>
    <div id="decoration2">
        <img src="img/decoration.png" alt="">
    </div>
    <ul class="section-text">
        <li>живот никак не уходит</li>
        <li>хочется похудеть не к лету, а навсегда</li>
        <li>вроде худая, а рельефа нет</li>
        <li>часто болит поясница, шея или колени</li>
        <li>сутулая осанка</li>
        <li>хочу восстановиться после родов</li>
        <li>есть недержание мочи при чихании, кашле и при беге. Есть небольшое опущение стенок влагалища</li>
        <li>болят стопы, растет косточка у большого пальца, отекают ноги</li>
        <li>сдутые ягодицы, заплывшие ноги, не нравится галифе</li>
        <li>дряблые руки</li>
        <li>не хватает энергии для качественной жизни</li>
        <li>тренировки не приносят результата</li>
        <li>тренировки быстро надоедают</li>
        <li>нет удовольствия от движения</li>
    </ul>
</section>